/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .header-list {
        display: none;
    }

    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
        visibility: visible;
    }

    .btn-wrapper {
        text-align: center;
    }

    .team {
        width: 20%;
        margin-bottom: 10px;
    }


    form input,
    form textarea {
      width: 75%;
    }
  
    .form-heading h2 {
      font-size: 22px;
      margin-top: 300px;
      text-align: center;
    }
    .form-heading p {
      font-size: 16px;
    }
    .row-15 {
      width: 25%;
    }
  
    .row-75 {
      width: 75%;
    }
  
    .row-100 {
      width: 81.5%;
    }

    .footer {
        text-align: center;
    }
}

/* untuk SmartPhone */
@media all and (max-width: 670px) {
    .header-list {
        display: none;
    }

    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
        visibility: visible;
    }

    .btn-wrapper {
        text-align: center;
    }

    .team {
        width: 100%;
    }

    .team-icon img {
        margin-left: 100px;
    }

    .contact-form {
        width: left;
    }
    
    .contact-form h3 {
        width: 18px;
        line-height: 30px;
    }
    
    .contact-form p {
        font-size: 12px;
        line-height: 18px;
    }
    form input,
    form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }
  
    .form-heading {
      text-align: center;
    }
  
    .form-heading h2 {
      font-size: 22px;
    }
    .form-heading p {
      font-size: 16px;
    }
  
    .row {
      display: flex;
      flex-direction: column;
    }
  
    .row-15 {
      margin-bottom: 3px;
      width: 100%;
    }
  
    .row-75 {
      width: 100%;
    }
  
    .row-100 {
      width: 100%;
    }
  
    .btn-send {
      padding: 15px 45px;
    }

    .footer {
        text-align: center;
    }
}